params.outdir = "results"
wave.strategy = ['dockerfile','container']
params.outdir = 'results'
docker.runOptions = '-u $(id -u):$(id -g)'
params.readlength = 100
params.samplesheet = "-"
params.gtf = "-"
params.genome = "-"
params.star_index = "-"
params.star_align = true // whether to perform STAR alignment, default is true
/*
QUANTIFICATION PARAMETERS
*/
params.gibbs_sampling = 0 // number of gibbs samples for salmon. Only ued in transcript quantification mode
params.gc_bias = true // whether to use GC bias correction in salmon
params.seq_bias = true // whether to use sequence bias correction in salmon
params.pos_bias = true // whether to use position bias correction in salmon

params.dump_eq = false // whether to dump equivalence classes in salmon
params.salmon_transcriptome = 'NONE'
params.salmon_index = 'NONE'
params.library_type = 'A' // 'A' for automatic, 'ISR' for stranded, 'ISF' for stranded forward, 'FR' for stranded reverse
params.kmer_size = 31 // k-mer size for salmon index generation, default is 31
/*
DEG Parameters
*/
params.condition_samplesheet = "-"
params.organism = "human" // 'human' or 'mouse'
params.contrasts = "-" // contrasts for differential expression analysis, e.g. "comparison1,condition1-condition2" First column is the name of the comparison, second column is the condition to compare
params.design_formula = "~ condition" // design formula for differential expression analysis
params.reference_levels = "-" // reference levels for differential expression analysis, e.g. "condition1,condition2" First column is the name of the condition, second column is the reference level
/*
RESOURCE PARAMETERS
*/
process {
    withLabel: star {
        cpus = 16
        memory = {64.GB + task.attempt * 32.GB}
        maxRetries = 2
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }
    withLabel: salmon {
        cpus = 16
        memory = {24.GB + task.attempt * 8.GB}
        maxRetries = 2
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }
    withLabel: fastp {
        cpus = 4
        memory = {12.GB + task.attempt * 8.GB}
        maxRetries = 2
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }
}


