docker.enabled = true
wave.enabled = false
fusion.enabled = false
wave.strategy = ['dockerfile','container']
params.outdir = 'results'
params.readlength = 100

/*
RESOURCE PARAMETERS
*/
params.fastp_threads = 4
params.star_threads = 8
params.star_memory = '64 GB'
params.salmon_threads = 6
params.salmon_memory = '16 GB'
/*
QUANTIFICATION PARAMETERS
*/
params.gibbs_sampling = 0 // number of gibbs samples for salmon. Only ued in transcript quantification mode
params.gc_bias = true // whether to use GC bias correction in salmon
params.seq_bias = true // whether to use sequence bias correction in salmon
params.dump_eq = false // whether to dump equivalence classes in salmon