params.outdir = "results"
wave.strategy = ['dockerfile','container']
params.outdir = 'results'
docker.runOptions = '-u $(id -u):$(id -g)'
params.readlength = 100
params.samplesheet = "-"
params.gtf = "-"
params.genome = "-"
params.star_index = "-"
params.star_align = true // whether to perform STAR alignment, default is true
/*
QUANTIFICATION PARAMETERS
*/
params.gibbs_sampling = 200 // number of gibbs samples for salmon. Used for transcript quantification. 200 should be reasonable
params.gc_bias = true // whether to use GC bias correction in salmon
params.seq_bias = true // whether to use sequence bias correction in salmon
params.pos_bias = true // whether to use position bias correction in salmon

params.dump_eq = false // whether to dump equivalence classes in salmon
params.salmon_transcriptome = '-'
params.salmon_index = '-'
params.library_type = 'A' // 'A' for automatic, 'ISR' for stranded, 'ISF' for stranded forward, 'FR' for stranded reverse
params.kmer_size = 31 // k-mer size for salmon index generation, default is 31. Shouldn't really have to change this
/*
DEG Parameters
*/
params.design_matrix = "-" // path to design matrix. Generate in R using model.matrix()
params.contrasts = "-" // path to contrast matrix.
params.organism = "human" // 'human' or 'mouse'
params.min_gs_size = 50 // minimum gene set size for GSEA analysis
params.max_gs_size = 500 // maximum gene set size for GSEA analysis
/*
RESOURCE PARAMETERS
*/
process {
    withLabel: star {
        cpus = 16
        memory = {64.GB + task.attempt * 32.GB}
        maxRetries = 2
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }
    withLabel: salmon {
        cpus = 16
        memory = {24.GB + task.attempt * 8.GB}
        maxRetries = 2
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }
    withLabel: fastp {
        cpus = 4
        memory = {12.GB + task.attempt * 8.GB}
        maxRetries = 2
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    }
}


